<div class="row">
  <div class="span12 offset0">
    <h2>About</h2>
    <div class="well">
      <h3>Context</h3>
      <p>
      This is an experiment with science publishing on the web.
      I think it&rsquo;s interesting and valuable to know what discussions are going on around papers you&rsquo;ve read.
      Want to read some interesting ideas about that?
      </p>

      <ul>
        <li><a href="http://www.genomesunzipped.org/2011/07/why-publish-science-in-peer-reviewed-journals.php#comments">Joe Pickrell: Why publish science in peer-reviewed journals?</a></li>
        <li><a href="http://oahack.wikispaces.com/">Open Access Hackathon</a> (#OAhack)</li>
        <li><a href="http://altmetrics.org/manifesto/">The altmetrics manifesto</a></li>
      </ul>

      <h3>Contact</h3>
      <p>
      Papernaut is by Jason Morrison.
      You can follow me on <a href="http://twitter.com/jayunit">Twitter</a>,
      see my code on <a href="http://github.com/jasonm">GitHub</a>,
      or <a href="mailto:jason.p.morrison@gmail.com">email</a> me.
      </p>

      <h3>License</h3>
      <p>
        The frontend app is licensed under the <a href="http://opensource.org/licenses/MIT">MIT license</a>.

        The engine is licensed under the <a href="http://www.gnu.org/licenses/agpl-3.0.html">AGPL 3.0 license</a>.

        You can find the source for the
        <a href="https://github.com/jasonm/papernaut-engine">engine</a> and the
        <a href="https://github.com/jasonm/papernaut-frontend">frontend</a> on GitHub.
      </p>
      <p>
        The engine makes use of the <a href="https://github.com/zotero/translators">Zotero translators</a> and <a href="https://github.com/zotero/translation-server">Zotero translation-server</a> to identify papers hosted on the web.  These libraries are licensed under the AGPL 3.0.
      </p>
      </p>
    </div>
  </div>
</div>
