<div class="row">
  <div class="span6 offset3">
      <h2>Yeah</h2>
      <p>stuff</p>

      <%= form_for @bibtex_import, :html => { :class => "well", :multipart => true } do |form| %>
        <%= form.label :file, 'Choose a BiBTeX file to upload:' %>
        <%= form.file_field :file  %>

        <button type="submit" class="btn btn-primary">Upload</button>
      <% end %>
  </div>
</div>
