@import url(http://fonts.googleapis.com/css?family=Merriweather);

div#main {
  font-family: 'Merriweather', Georgia, serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, thead, th {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
