div.homepage-splash {
  img {
    position: absolute;
  }

  h1 {
    position: relative;
    font-weight: 700;
    color: #444;
    margin-bottom: 30px;
    font-family: 'Merriweather', Georgia, serif;
  }

  div.hero-unit {
    position: relative;
    padding-top: 100px;
  }

  p.description {
  }

  p.calls-to-action a {
    margin-top: 30px;
    font-size: 16px;
  }
}

@media (min-width: 1200px) { /* desktop wide */
  div.homepage-splash {
    margin-top: 175px;
    img {
      margin-top: -350px;
      margin-left: -60px;
      width: 332px;
      height: 332px;
    }

    h1 {
      top: -50px;
      margin-left: 360px;
      font-size: 72px;
    }
  }
}

@media (min-width: 980px) and (max-width: 1199px) { /* tablet-landscape to desktop */
  div.homepage-splash {
    margin-top: 128px;
    img {
      margin-top: -295px;
      margin-left: -60px;
      width: 249px;
      height: 249px;
    }

    h1 {
      top: -35px;
      margin-left: 270px;
      font-size: 60px;
    }
  }
}


@media (min-width: 481px) and (max-width: 979px) { /* phone AND tablet-portrait */
  div.homepage-splash {
    margin-top: 64px;
    img {
      margin-top: -230px;
      margin-left: -60px;
      width: 166px;
      height: 166px;
    }

    h1 {
      top: -8px;
      margin-left: 180px;
      font-size: 48px;
    }
  }
}

@media (max-width: 480px) { /* phone AND tablet-portrait */
  $astronaut-overhang: 160px;
  $astronaut-size: 166px;

  div.homepage-splash {
    div.astronaut {
      width: $astronaut-size;
      margin: 0 auto;
    }

    img {
      position: relative;
      width: $astronaut-size;
      height: $astronaut-size;
      top: -$astronaut-overhang;
      margin-bottom: -$astronaut-overhang;
    }

    h1 {
      margin-bottom: 18px;
      font-size: 48px;
      text-align: center;
    }

    div.hero-unit {
      position: relative;
      padding: 18px;
      margin-top: $astronaut-overhang;
    }
  }
}
