<%= link_to "Journal Club", root_path, :class => 'brand' %>

<ul class="nav">
  <li>
    <%= link_to "About", page_path('about') %>
  </li>
  <li>
    <%= link_to "Stats", page_path('stats') %>
  </li>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Logout", sign_out_url, method: 'delete' %>
    </li>
  <% end %>
</ul>
