<%= link_to "Journal Club", root_path, :class => 'brand' %>

<ul class="nav">
  <% if user_signed_in? %>
    <li>
      <%= link_to "Logout", sign_out_url, method: 'delete' %>
    </li>
  <% end %>
</ul>
